.service-container {
    width: 100%;
    /* min-height: 100vh; */
    /* background-color: var(--whiteshade); */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem 0;
  }
  .main-head {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--darkbluesecondary);
  }
  .service-para {
    width: 60%;
    text-align: center;
    color: gray;
  }
  .services {
    width: 18rem;
    height:22rem;
    background-color: white;
    box-shadow: 1px 1px 10px 1px silver;
    border: 0.5px solid silver;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    /* transition:  5s ease; */
  }
  .services:hover {
    background: linear-gradient(
      to bottom,
      var(--darkblueprimary),
      var(--darkbluesecondary)
    );
  }
  .services img {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
  }
  .service-one-head {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .service-box-para {
    color: gray;
    width: 15rem;
  }
  .icon {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: var(--whiteshade);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .service-box-rowone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  @media (max-width: 768px) {
    .service-para {
      width: 90%;
    }
    .service-box-rowone {
      flex-direction: column;
    }
    .services {
      width: 16rem;
      /* height: 15rem; */
    }
  }