.AboutBanner-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  gap: 2rem;
}
.bannerTextwrapper {
  display: flex;
  flex-direction: column;
}
.IASEICRA {
  color: var(--darkblueprimary);
  font-weight: 600;
  font-size: 2.3rem;
}
.bannerTextpara {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Dancing Script", serif;
  color: var(--green);
  font-weight: 600;
}
.aboutDetailsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 2%;
  /* background-color: var(--whiteshade); */
  /* padding: 2rem; */
  width: 100%;
  /* border-radius: 15px; */
}
.aboutDetailsWrapper img {
  width: 40%;
  border-radius: 15px;
  height: 50vh;
  /* border: 1px solid red; */
}
.aboutDetails {
  display: flex;
  width: 40%;
  gap: 0.5rem;
  flex-direction: column;
  /* border: 1px solid red; */
}
.aboutboxes {
  /* width: 14.5rem; */
  /* border: 1px solid red; */
  text-align: justify;
  padding: 5px 0;
  font-size: 1rem;
}
.aboutDetails button {
  font-family: inherit;
  font-size: 1rem;
  color: var(--white);
  background: linear-gradient(
    to bottom,
    var(--darkblueprimary),
    var(--darkbluesecondary)
  );
  /* background-color: var(--darkblueprimary); */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0.5rem 2rem;
}
.btnWrapper {
  display: flex;
  gap: 1rem;
}
.whoarewe {
  font-weight: 600;
  font-size: 2rem;
  text-align: start;
}
@media (max-width: 768px) {
  .btnWrapper {
    flex-direction: column;
  }
  .aboutDetails {
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .aboutboxes {
    text-align: center;
  }
  .aboutDetailsWrapper {
    flex-direction: column;
    gap: 1rem;
    padding: 10px 0rem;
    width: 100%;
  }
  .aboutDetailsWrapper img {
    width: 70%;
    border-radius: 8px;
  }
}
@media (max-width: 468px) {
  .aboutDetailsWrapper img {
    width: 95%;
    border-radius: 8px;
  }
  .aboutDetails {
    width: 98%;
  }
}
