@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: "Exo 2", serif;
  /* font-family: "Roboto Condensed", serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  /* background-color: red; */
  color: black;
}
:root {
  --white: #ffffff;
  --blue: #156aa1;
  --darkblueprimary: #1d2168;
  --darkbluesecondary: #0f103e;
  --whiteshade: #ece3e3;
  --green: #a3c17e;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.eicrabutton {
  background: linear-gradient(to right bottom, #156aa1, #1d2168);
  font-family: inherit;
  color: white;
  font-size: 1rem;
  border: 1px solid var(--blue);
  /* height: 5rem; */
  /* padding: 1rem 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.eicrabutton:hover {
  background: linear-gradient(to right bottom, #156aa1, #1d2168, #156aa1);
}
